body {
  margin: 0;
}
div {
  position: absolute;
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  max-width: 400px;
}
/* phones */
@media (max-height: 950px) {
  div {
    max-height: 450px;
  }
}
span#dbg {
  position: fixed;
  background-color: #fff;
  bottom: 1;
  left: 0;
  font-family: monospace;
  font-size: larger;
}
canvas,
img {
  position: absolute;
  width: 100vw;
  min-width: 1600px;
}
canvas {
  opacity: 1;
  pointer-events: none;
}
